worker_processes auto;

events {
    worker_connections 768;
}

http {
    # Logging
    error_log /etc/nginx/logs/error.log warn;
    access_log /etc/nginx/logs/access.log;

    # Node exporter
    server {
        listen 3100;  # Listen on port 3100 without SSL
        server_name {{ ansible_default_ipv4.address }};  # Dynamic IP of the host

        location / {
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-NginX-Proxy true;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_set_header Host $host;
            proxy_pass http://loki-server:3100;  # Assuming NodeExporter runs on Docker
            auth_basic "Access restricted";
            auth_basic_user_file /etc/nginx/.htpasswd;
        }
    }
}
