auth_enabled: false

server:
  http_listen_port: 3100

common:
  instance_addr: 127.0.0.1
  path_prefix: /tmp/loki
  storage:
    s3:
      s3: https://s3.{{ REGION }}.amazonaws.com
      access_key_id: {{ ACCKEY }}
      secret_access_key: {{ SECRETKEY }}
      region: {{ REGION }}
      bucketnames: {{ BUCKET }}

  replication_factor: 1
  ring:
    kvstore:
      store: memberlist

schema_config:
  configs:
    - from: "2023-12-31"
      store: tsdb
      object_store: s3
      schema: v11
      index:
        prefix: index_
        period: 24h

ruler:
  alertmanager_url: http://localhost:9093

frontend:
  encoding: protobuf